{
    "parser": "babel-eslint",
    "extends": "eslint:recommended",
    "plugins": [
        "react"
    ],
    "parserOptions": {
        "ecmaVersion": 7,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": true
    },
    "rules": {
        "comma-dangle": ["warn", "never"],
        "comma-spacing": ["warn", { "before": false, "after": true }],
        "eqeqeq": ["error", "smart"],
        "quotes": ["warn", "single"],
        "no-undef": "error",
        "no-floating-decimal": "error",
        "no-implied-eval": "error",
        "no-eval": "error",
        "no-labels": "error",
        "no-loop-func": "error",
        "no-multi-spaces": "warn",
        "no-multi-str": "warn",
        "no-throw-literal": "error",
        "no-use-before-define": "error",
        "block-spacing": "warn",
        "camelcase": "error",
        "comma-style": ["warn", "last"],
        "computed-property-spacing": ["warn", "never"],
        "func-call-spacing": ["warn", "never"],
        "indent": [ "warn", 4, { "SwitchCase": 2 } ],
        "jsx-quotes": ["warn", "prefer-double"],
        "key-spacing": "warn",
        "keyword-spacing": "warn",
        "lines-around-comment": "warn",
        "no-mixed-operators": "error",
        "no-multiple-empty-lines": ["warn", { "max": 2, "maxEOF": 1, "maxBOF": 0 }],
        "no-nested-ternary": "error",
        "no-unneeded-ternary": "error",
        "no-whitespace-before-property": "warn",
        "space-before-function-paren": ["warn", { "anonymous": "always", "named": "never", "asyncArrow": "always" }],
        "space-infix-ops": "warn",
        "space-unary-ops": "warn",
        "semi-spacing": "warn",
        "space-before-blocks": "warn",
        "arrow-spacing": "warn",
        "no-duplicate-imports": "error",
        "no-var": "error",
        "semi": ["warn", "always"],
        "no-extra-semi": "warn",
        "no-unused-vars": "off",
        "no-mixed-spaces-and-tabs": "error",
        "curly": "warn",
        "object-curly-spacing": ["warn", "always"],
        "object-curly-newline": ["warn", { "consistent": true }],
        "no-console": "off",
        "no-trailing-spaces": ["warn", { "skipBlankLines": true }],
        "no-unreachable": "error",
        "no-alert": "off",
        "no-useless-escape": "off",
        "no-empty-pattern": "error",
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error",
        "react/forbid-component-props": ["error", { "forbid": ["style"] }]
    }
}
